body {
    font-family: Ubuntu, Arial, sans-serif;
    background-color: #fcfdc8;
}

.species-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-around;
}
.species-details div {
    background-color: #f3f592;
    padding: 10px;
    border-radius: 5px;
    flex: 1 1 200px;
    text-align: center;
    width: 80px;
}
.subraces-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

}
.subraces-container div {
    background-color: #f3f592;
    padding: 10px;
    border-radius: 5px;
    flex: 1 1 200px;
    text-align: center;
    width: 300px;
}

table.Markdowntable {
    border-collapse: separate;
    border-spacing: 0px;
}

table.Markdowntable th, table.Markdowntable td {
    border: 2px solid #EDEAE8;
    padding: 2px;
}

table.Markdowntable th {
    background-color: white;
    color: black;
}

table.Markdowntable tbody tr:nth-child(odd) {
    background-color: #D7E7EE;
}

table.Markdowntable tbody tr:nth-child(even) {
    background-color: #F1F7F9;
}

table.Markdowntable tbody tr:hover {
    background-color: #B3D2DE;
}
